:root {
    --color-yellow:#e28625;
    --color-blue: #006971;
    --color-green: #004140;
    --color-white: #fff;
    --color-bg: #c5dbf2;
    --border-radius: 10px;
}

*,
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Classes */

body {
    align-items: center;
    font-family:  'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

img {
    max-width: 40px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

button {
    border-radius: 2rem;
    border: none;
    color: transparent;
    font-size: 20px;
    padding: 20px;
}

.btn1 {
    color: var(--color-yellow)
}

.btn2 {
    color: var(--color-blue)
}

.btn3 {
    color: var(--color-green)
}

/* Component Classes */

.container {
    display: flex;
    width: 80%;
}

.card {
    color: var(--color-white);
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    gap: 50px;
    padding: 50px;
}

.card p {
    flex: 1;
    line-height: 20px;
}

.card:nth-of-type(1) {
    background-color: var(--color-yellow);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.card:nth-of-type(2) {
    background-color: var(--color-blue);
}

.card:nth-of-type(3) {
    background-color: var(--color-green);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}